* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #184458, #295d6e, #662727);
  margin: 0;
  padding: 12px;
}

.player {
    width:100%;
    max-width: 420px;
    margin: auto;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(12px);
    border-radius:22px;
    overflow: hidden;
    padding:20px;
    color:#fff;
    box-shadow:0 20px 40px rgba(0,0,0,.4);

}

.cover {
  width: 220px;
  height: 220px;
  margin: 15px auto;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgba(255, 255, 255, .2);
}

.cover.playing {
  animation: spin 12s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

p {
  text-align: center;
  color: #ccc;
  font-size: 14px;
  margin-top: 5px;
}

.progress-box {
  margin: 20px 0;
}

.bar {
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, .2);
  border-radius: 10px;
  cursor: pointer;
}

.fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #00f2fe, #4facfe);
  border-radius: 10px;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #ddd;
  margin-top: 5px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 15px;
}

.btn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, .15);
  color: #fff;
  font-size: 18px;
}

.play {
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #00f2fe, #4facfe);
}

.volume {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.vol-bar {
  flex: 1;
  height: 6px;
  background: rgba(255, 255, 255, .2);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.vol-fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 70%;
  background: linear-gradient(90deg, #00f2fe, #4facfe);
  border-radius: 10px;
}

.playlist {
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}

.song {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.song.active {
  background: rgba(0, 255, 255, .2);
}

.song img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.song div {
  font-size: 13px;
}

::-webkit-scrollbar {
  width: 5px
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px
}

@media (max-width: 500px){

  .player{
    max-width:100%;
    border-radius:18px;
  }

  .cover{
    width:160px;
    height:160px;
  }

  .song-info{
    padding:10px 5px;
  }

  h2{
    font-size:18px;
    text-align:center;
  }

  p{
    font-size:13px;
    text-align:center;
  }

  .controls{
    gap:15px;
  }

  .btn{
    width:42px;
    height:42px;
    font-size:15px;
  }

  .play{
    width:56px;
    height:56px;
  }

  .playlist{
    max-height:140px;
  }
}



